version: "3.4"

services:
  new-api:
    image: soulterepk/new-api:latest
    container_name: new-api
    restart: always
    command: --log-dir /app/logs
    ports:
      - "3000:3000"
    volumes:
      - ./data:/data
      - ./logs:/app/logs
    environment:
      - SQL_DSN=root:123456@tcp(mysql:3306)/new-api
      - REDIS_CONN_STRING=redis://default:password@redis:6379
      - SESSION_SECRET=random_string # 多机部署时设置，必须修改这个随机字符串！！ （multi-node deployment, set this to a random string!!!!!!!）
      - CRYPTO_SECRET=your_unique_crypto_secret
      - TZ=Asia/Shanghai
      - ERROR_LOG_ENABLED=true
      - BATCH_UPDATE_ENABLED=true
      - STREAMING_TIMEOUT=300
      - SYNC_FREQUENCY=60
      - FRONTEND_BASE_URL=https://modelstack.app
      - UMAMI_WEBSITE_ID=51e95a50-f104-4206-af7e-2a867f2e6ab8
      - NODE_TYPE=slave
